
body {
    padding-top:20px;
    background-color: #FFFFCC;
}

.main {
    width:1340px;
}

.image-size{
    width:190px;
    height:110px;
}

.searcher-image-size{
    width:80px;
    height:50px;
}

.make-padding{
    padding-top:15px;
}

.price-style{
    padding-right:50px;
    padding-top:10px;
}

.price-padding{
    margin-top: -12px;
}

.rent-btn-padding{
    margin-right:55px;
}

.rent-msg-padding{
    margin-right:65px;
}


.item-properties{
    margin-top:10px;
    height: 160px;

}
.right-margin{
    margin-right: 10px;
}

.form-input{
    width:370px;
}

.error{
    color: red;
}

.details-title{
    font-size: 20px;
    padding-left:30px;
    padding-top:23px;
    font-weight: bold;
}

.details-data{
    font-size: 18px;
}

.details-panel{
    min-height: 300px
}

.details-style{
    margin-top: 25px;
    font-size: 15px;
}

.suggested {
    margin-top: 10px;
    height: 190px;

}

.suggested-image-size {
    width: 110px;
    height: 60px;
}

.searcher-nav{
    margin-left:10px;
    margin-top: 7.5px;
    width: 60%;
}

.searcher-nav-logged{
    width: 50% !important;
}

.searcher-input{
    width: 100% !important;
}

.searcher-results{
    position: absolute;
    z-index: 1000;
    width: 58%;
}

.searcher-results-logged{
    width: 49% !important;
}

.searcher-item-properties{
    height: 80px;
    cursor: pointer;
}

.searcher-item-properties:hover{
    background-color: #f8f8f8;
}

.bold{
    font-weight: bold;
}